<div class="bg-gradient-to-r from-red-400 to-purple-500
            h-16 w-full px-4 py-2
            flex items-center">
<ul class="list-none">
    <li class="inline-block px-4 text-white">Home</li>
    <li class="inline-block px-4 text-white">Series</li>
    <li class="inline-block px-4 text-white">Movies</li>
    <li class="inline-block px-4 text-white">Favorites</li>
</ul>
</div>